body{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#333333; margin:0px;}

#head { background:url(../images/head_bg.jpg) repeat-x bottom #FEFEFE; width:100%;}

#nav{background:url(../images/nav_bg.jpg) repeat-x; height:31px; width:99%; padding-right:1%;}

a{text-decoration:none;}

.rightAlign{text-align:right;}
.centerAlign{text-align:center;}

.width2{width:2px;}
.width5{width:5px;}
.height10{height:10px;}

.client_logo{float:left; padding:10px 0px 10px 30px;}
.logo{float:right; padding-top:0px; padding-right:0px;}

#login{
	  width:20%; margin:50px auto;
     }

.top_left2{background:url(../images/top_left.png) no-repeat; border-bottom:solid 1px #D1D0D0; width:5px; height:41px;}
.top_mid2{background:url(../images/top_mid.png) repeat-x;  border-bottom:solid 1px #D1D0D0; height:41px;}
.top_right2{background:url(../images/top_right.png) no-repeat; border-bottom:solid 1px #D1D0D0; width:5px; height:41px;}

.top_left{/*background:url(../images/top_left.png) no-repeat;*/ border-bottom:solid 1px #D1D0D0; width:5px; height:41px;}
.top_mid{/*background:url(../images/top_mid.png) repeat-x; */  border-bottom:solid 1px #D1D0D0; height:41px;}
.top_right{/*background:url(../images/top_right.png) no-repeat;*/ border-bottom:solid 1px #D1D0D0; width:5px; height:41px;}

.mid_left{background:url(../images/mid_left.png) repeat-y; width:5px;}
.mid_mid{background:#FFFFFF;}
.mid_right{background:url(../images/mid_right.png) repeat-y; width:5px;}

.bottom_left{background:url(../images/bottom_left.png) no-repeat; width:5px; height:5px;}
.bottom_mid{background:url(../images/bottom_mid.png) repeat-x; height:5px;}
.bottom_right{background:url(../images/bottom_right.png) no-repeat; width:5px; height:5px;}

.green_head_font{font-size:13px; color:#73A441;}
.orange_font{font-size:13px; color:#E7394D;}
.compal
{
	font-size:13px; color:#FFF;
}
.green_font{font-size:11px; color:#666666;}
.menu_font{font-size:11px; color:#666666;}
.menu_font_selected{font-size:11px; color:#7CA32F!important;}
.menu_font:hover{color:#7CA32F;}
.table_font{font-size:11px; color:#333333;}
.table_font:hover{color:#7CA32F;}
.form_title{font-size:11px; font-weight:bold; vertical-align:top;}
.green_head_font1{font-size:11px;  font-weight:bold;}

.error_msg{font-size:13px; color:#E7394D;}

.input_btn{background-color:#D3EEF5; border:2PX solid #033f55; border-radius:5px; height:31px; border:none; cursor:pointer; color:#63B4D2; font-family:Arial; font-size:12px; font-weight:bold;}
.input_btn:hover{color:#333333;}

.input_text_login{ width:100%; height:30px;}
.input_text{
	 outline:none;
    height:35px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:5px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    background-color:#92cbdf;
	color:#333 !important;
	-webkit-box-shadow: 2px 5px 3px #567783;
    -moz-box-shadow: 2px 5px 3px #567783;
    box-shadow: 1px 2px 4px 0px #567783;
    font-size:16px;
	padding-left:10px;
	padding-right:10px;
	}
	.input_text:hover{
	  -webkit-box-shadow: 2px 5px 3px #000;
    -moz-box-shadow: 2px 5px 3px #000;
    box-shadow: 1px 2px 4px 0px #000;
	 background-color:#FFF;
	}
	.input_select_tra
	{
		background-color:#D3EEF5;
		width:90%;
		border:1px solid #ccc;
		
		
	}
	.input_text_tra{
	 outline:none;
    height:18px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:5px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    background-color:#D3EEF5;
	color:#333 !important;
    font-size:16px;
	padding:3px;
	width:90%;
	border:1px solid #666;
		}
	.input_text_tra:hover{
	 background-color:#FFF;
 height:18px;
	}
	
.input_select_login{border:solid 1px #D1D0D0;
background-color:#B7EDFB; border:1px; border-radius:5px; width:100%; height:27px; font-size:11px; color:#666666; padding:3px;}

#info{}
#left_info{ float:left; background-color:#fff; padding:5px; border-radius:5px; margin:5px;}
#right_info{width:71%; float:left; background-color:#63B4D2;}

.clearit{clear:both;}

#footer{background:url(../images/footer_bg.jpg) repeat-x; height:36px; width:100%; font-size:11px; color:#666666; margin-top:20px;}

.top_left_home{background:url(../images/top_left_home.png) no-repeat; width:5px; height:5px;}
.top_mid_home{background:url(../images/top_mid_home.png) repeat-x; height:5px; }
.top_right_home{background:url(../images/top_right_home.png) no-repeat; width:5px; height:5px;}

.mid_left_home{background:url(../images/mid_left_home.png) repeat-y;}
.mid_mid_home{background:url(../images/id_mid_img.jpg) repeat-x  bottom; width:100px;}
.mid_right_home{background:url(../images/mid_right_home.png) repeat-y;}

.bottom_left_home{background:url(../images/bottom_left_home.png) no-repeat; width:5px; height:5px;}
.bottom_mid_home{background:url(../images/bottom_mid_home.png) repeat-x; height:5px; }
.bottom_right_home{background:url(../images/bottom_right_home.png) no-repeat; width:5px; height:5px;}

.home_img{width:55px; height:55px;}

img a{border:none;}
img{border:none;}

.tab_left{background:url(../images/tab_left.png) no-repeat; width:6px; height:30px;}
.tab_mid{background:url(../images/tab_mid.png) repeat-x; height:30px; font-size:11px; color:#666666; padding:0px 5px;}
.tab_right{background:url(../images/tab_right.png) no-repeat; width:6px; height:30px;}

.tab2_left{background:url(../images/tab2_left.png) no-repeat; width:6px; height:30px;}
.tab2_mid{background:url(../images/tab2_mid.png) repeat-x; height:30px; font-size:11px; color:#7CA32F; padding:0px 5px;}
.tab2_right{background:url(../images/tab2_right.png) no-repeat; width:6px; height:30px;}

.line{background:url(../images/line.jpg) repeat-x; height:1px;}

.input_text{background-color:#D3EEF5; height:23px; border:solid 1px #E0E0E0; width:30%; font-size:13px; color:#666666;}
.input_textarea{
	 outline:none;
    height:35px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:5px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    background-color:#D3EEF5;
	color:#333 !important;
	-webkit-box-shadow: 2px 5px 3px #567783;
    -moz-box-shadow: 2px 5px 3px #567783;
    box-shadow: 1px 2px 4px 0px #567783;
    font-size:13px;
	padding-left:10px;
	padding-right:10px;
	width:50%;
	height:50px;
	 }
	 
	 
.input_textarea:hover{ -webkit-box-shadow: 2px 5px 3px #000;
    -moz-box-shadow: 2px 5px 3px #000;
    box-shadow: 1px 2px 4px 0px #000;
	 background-color:#FFF;}
	 
	 .input_textarea_question
	 {
    outline:none;
    height:35px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:5px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    background-color:#D3EEF5;
	color:#333 !important;
	-webkit-box-shadow: 2px 5px 3px #567783;
    -moz-box-shadow: 2px 5px 3px #567783;
    box-shadow: 1px 2px 4px 0px #567783;
    font-size:13px;
	border:1px solid #666;
	
	
	width:100%;
	height:50px;
	 }
	 .input_textarea_question:hover
	 {
		 -webkit-box-shadow: 2px 5px 3px #000;
    -moz-box-shadow: 2px 5px 3px #000;
    box-shadow: 1px 2px 4px 0px #000;
	 background-color:#FFF;
	 }
	 
.input_file{background-color:#D3EEF5; border:solid 1px #E0E0E0; width:90%; font-size:11px; color:#666666;}
.input_select{background-color:#D3EEF5; height:23px; border:solid 1px #E0E0E0; border-radius:5px; width:54%; font-size:11px; color:#666666;}
.input_multiselect{background-color:#D3EEF5;  border:solid 1px #E0E0E0; width:90%; font-size:11px; color:#666666; size:10;}
.table{border-collapse:collapse; width:100%}
.table td{border:solid 1px #DDDDDD; height:30px; padding:0px 3px;}
.table td table td{border:none; padding:0px;}
.head_td{background:url(../images/head_td.jpg) repeat-x; height:30px; font-size:16px;}
.grey_td_head{background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 50%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(50%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
 height:30px; padding-left:3px; color:#FFF}
.grey_td{background:#e0e1e2; height:30px; padding-left:3px;}
.grey_td_an{background:#FFF; height:30px; padding-left:3px;}
.grey_tdasd{background:#fcbcaf; height:30px; padding-left:3px; color:#ff2a00;}
.search_box{border:1px solid #D1D0D0; height:21px; font-size:11px; color:#666666; font-family:Arial, Helvetica, sans-serif;}
#alert
{
	padding:5px;
	border:1px solid #E0E0E0;
	color:#333333;
	width:40%;
}
.alert
{
	padding:5px;
	border:1px solid #F00;
	border-radius:5px 0px 5px 0px ;
	background:#D3EEF5;
	color:#333333;
	width:100%;
}
.alert ul
{
	margin:0px;
	color:#E7394D;
}

#alert1
{
	padding:5px;
	border:1px solid #E0E0E0;
	color:#333333;
	width:80%;
}
.alert1
{
	padding:5px;
	border:1px solid #E0E0E0;
	background:#F1EFF0;
	color:#333333;
	width:100%;
}
.alert1 ul
{
	margin:0px;
	color:#E7394D;
}


#msgbox
{
	padding:5px;
    color: #FFFFFF;
    border:1px solid #73A440;
	font-size:12px;
	font-weight:bold;
	background:url(../images/btn_bfg.jpg) repeat-x bottom #93C749;
		
}
.msgbox
{
	padding:5px;
    color: #FFFFFF;
    border:1px solid #73A440;
	font-size:12px;
	font-weight:bold;
    background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 50%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(50%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 50%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	
}


/*---------for paging script----------------*/
div.pagination {
    padding: 3px;
    margin: 3px;
}

div.pagination a {
    padding: 2px 5px 1px 5px;
    margin: 2px;
    border: 1px solid #B2B1B1;
    font-weight:400;
    text-decoration: none; /* no underline */
    color:#666666;
    background-color:#FFFFFF;
}
div.pagination a:hover, div.pagination a:active {
     border: 1px solid #B2B1B1;
	background-color:#D1D0D0;
    font-weight:400;
    text-decoration:underline;
    color: #000;
}
div.pagination span.current {
    font-weight:400;   
    color:#ffffff;
	padding: 2px 5px 1px 5px;
    margin: 2px;
    border: 1px solid #80AB2C;
	background-color:#8EBD34;
    }
div.pagination span.disabled
{
    padding: 2px 5px 0px 5px;
    margin: 2px;
    border: 1px solid #EEE;

    color: #DDD;
}
/*-------------end --------------------------------*/

/* ToolTip */
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); behavior: url(ie-css3.htc); }
  .tipsy-inner { padding: 5px 5px 5px 5px; background-color: black; color: white; max-width: 200px; text-align: center; behavior: url(ie-css3.htc); }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; behavior: url(ie-css3.htc); }
  .tipsy-north { background-position: top center; behavior: url(ie-css3.htc); }
  .tipsy-south { background-position: bottom center; behavior: url(ie-css3.htc); }
  .tipsy-east { background-position: right center; behavior: url(ie-css3.htc); }
  .tipsy-west { background-position: left center; behavior: url(ie-css3.htc); }
  .example-fade{cursor: pointer;} 
 
/*-------------end --------------------------------*/
 .projectname{color:#eb8b14; font-family: 'TrajanPro-Regular'; text-decoration:none; font-size:16px; font-variant:small-caps;}

.contant {
    background-color: #64B5D3;
    background-image: url("../images/cont-top.png");
    background-position: center top;
    background-repeat: no-repeat;
   
	
}

.contant-left {
    color: #333333;
    float: left;
    font-size: 36px;
    height: auto;
    margin: 70px;
    text-shadow: 0.08em 0.07em 0.05em #FFFFFF;
}

.footer {
    background-color: #63B4D2;
    color: #333333;
    font-size: 14px;
    height: 20px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.contant-right{
height:auto;
float:right;
margin:70px;
}
.form-input{ outline:none;
    height:35px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:16px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    background-color:#92cbdf;
	color:#999 !important;
	-webkit-box-shadow: 2px 5px 3px #567783;
    -moz-box-shadow: 2px 5px 3px #567783;
    box-shadow: 1px 2px 4px 0px #567783;
    font-size:16px;
	padding-left:10px;
	padding-right:10px;
}
.form-input:hover{ -webkit-box-shadow: 2px 5px 3px #000;
    -moz-box-shadow: 2px 5px 3px #000;
    box-shadow: 1px 2px 4px 0px #000;
	 background-color:#89d1eb;
	  
}
.big-font
{
	
	 color: #FFFFFF;
    font-size: 46px;
    font-weight: bold;
    text-shadow: 0.08em 0.07em 0.05em #666666;
    te
}

input, textarea, select {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.cpanel-right
{
	background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%) repeat scroll 0 0 transparent;
	border:1px solid #FFF;
    border-radius: 5px 5px 5px 5px;
   
}
.reports
{
	background-color:#0182B1;
}
.heading_form{
background: #f9fcf7; /* Old browsers */
background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
	width:100%;
	height:30px;
	text-align:center;
	color:#7CA32F;
	font-size:16px;

}
.btn-login{background-color:#FFF;
	 padding:1px 10px 1px 10px;
	 border:6px #56a5c4 solid;
	 border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
	color:#64b5d3;
	transition: all 0.25s ease-in-out;
	cursor:pointer;
	 }
.btn-login1{background-color:#b9d404;
	 padding:1px 5px 1px 5px;
	 border:2px #fff solid;
	 border-radius:8px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
	color:#333;
	transition: all 0.25s ease-in-out;
	font-size:12px;
	cursor:pointer;
	 }
.btn-login1:hover{background-color:#F90;
color:#FFF;
}
.ferget{color:#333 !important;
	font-size:13px;
	}
.ferget:hover{color:#000 !important;
		}
.btn-login:hover{ border:6px #2a7593 solid;
	color:#333;
cursor:pointer;}
.heading_class
{
	background-color:#CCC;
}
.menu_tabss
{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
margin-left:10px; text-align:center; border-radius:5px;
}
.align_add_right
{
	text-align:right;
	font-size:14px;
	
}
.bagground
{
	background-image:url(../images/back.png);
}
.buttons
{
	background-color:#fff;
	color:#64B5D3;
	width:60px;
	height:25px;
	padding-top:3px;
	border:5px solid #ACE4F8;
	border-radius:5px;
}
.buttons:hover
{
	background-color:#fff;
	color:#64B5D3 !important;
	width:60px;
	height:25px;
	padding-top:3px;
	border:5px solid #2A7593;
	border-radius:5px;
	
}
.image_cot
{
	
}
.image_cot a
{
	margin-left:7px;
}
.addBtn {
    background-image: url("images/add_icon.gif");
    cursor: pointer;
}
.delBtn {
    background-image: url("images/delete_icon.png");
    cursor: pointer;
}
.boald_class
{
	font-weight:bold;
}
.cke_show_borders{ border:1px #3CF solid !important}